<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
 
<!-- axios to get rest data -->
<script src="https://cdn.jsdelivr.net/npm/axios@0.18.0/dist/axios.min.js"></script>
 
<!-- my UI -->
<div id="myapp">
  <p>Search Zip Code</p><span>{{message}}</span>
  <br/>
  <input id="textbox1" v-model="zipcode" v-on:keyUp="processInput">
  <br/><span> {{logmessage}} </span>
 
  <p><span>you entered: {{zipcode}}</span></p>
 
  <!--- show this only if hasdata is true -->
  <p v-if="hasdata">
    Display this if found result:<br/>
    {{resultMessage}}
  </p>
</div>
 
<!--- my Vue script. Use Vue developer tool to see the changes to the data -->
<script>
 
  var vm = new Vue({
    el: '#myapp',
    data: {
      zipcode: '',
      message: 'Please enter valid 5 digit US zip code',
      logmessage: '',
      oldzip: '',
      loading: false,
      city: '',
      state: '',
      hasdata: false,
      logdata: {}
    },
    computed: {
      resultMessage: function() {
        if( vm.city.length != 0 && vm.state.length != 0) {
          return 'zip code: ' + vm.oldzip + ' ==> ' + vm.city + ", " + vm.state;
        }
        return '';
      }
    },
    methods: {
     
      // call zip service if digits are 5 and not called previously
      processInput: function() {
        if( vm.zipcode.length === 5 ) {
          if( isNaN(vm.zipcode)) {
            vm.logmessage ='not a number';
            return;
          }
 
          // call service only if not the same as previous number
          if( vm.zipcode != vm.oldzip) {
            vm.oldzip = vm.zipcode;
            vm.logmessage = 'Length is 5, calling service with:' + vm.zipcode;
     
            vm.loading = true;
            console.log('calling api with: ' + vm.zipcode);
 
            // call zip service and save the result
            axios.get(`http://api.zippopotam.us/us/${vm.zipcode}`)
              .then( function(res) {
                vm.hasdata = true;
                vm.logmessage = 'successfully completed GET';
                vm.logdata = res.data;
                vm.city = res.data.places[0]['place name'];
                vm.state = res.data.places[0]['state'];
 
              })
              .catch(function (e) {
                vm.logmessage = 'something failed';
                console.log( 'error ' + e);
                vm.loading = false;
              });
 
            vm.loading = false;
 
          } else {
            this.logmessage = 'already processed with ' + vm.zipcode;
          }
        // not exactly 5 characters
        } else {
          if( this.zipcode.length < 5 ) {
            this.logmessage = 'gathering input. length=' + vm.zipcode.length;
          } else {
            this.logmessage = vm.zipcode.length + ' is too long';
          }
        }
      }
    }
  });
 
</script>